<%- model_class = Parcel -%>
<div class="page-header">
  <h1><%=t '.title', :default => Parcel %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:customer_shipment_cost_pre_tax) %></th>
      <th><%= model_class.human_attribute_name(:taxable) %></th>
      <th><%= model_class.human_attribute_name(:tax_rate) %></th>
      <th><%= model_class.human_attribute_name(:tax) %></th>
      <th><%= model_class.human_attribute_name(:customer_shipment_cost_with_tax) %></th>
      <th><%= model_class.human_attribute_name(:parcel_items_and_quantity) %></th>
      <th><%= model_class.human_attribute_name(:weight_of_parcel) %></th>
      <th><%= model_class.human_attribute_name(:customs_short_declaration) %></th>
      <th><%= model_class.human_attribute_name(:customs_long_description) %></th>
      <th><%= model_class.human_attribute_name(:parcel_height) %></th>
      <th><%= model_class.human_attribute_name(:parcel_length) %></th>
      <th><%= model_class.human_attribute_name(:parcel_width) %></th>
      <th><%= model_class.human_attribute_name(:parcel_number_in_order) %></th>
      <th><%= model_class.human_attribute_name(:internal_cost_of_parcel) %></th>
      <th><%= model_class.human_attribute_name(:shipping_carrier) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.id %></td>
        <td><%= parcel.customer_shipment_cost_pre_tax %></td>
        <td><%= parcel.taxable %></td>
        <td><%= parcel.tax_rate %></td>
        <td><%= parcel.tax %></td>
        <td><%= parcel.customer_shipment_cost_with_tax %></td>
        <td><%= parcel.parcel_items_and_quantity %></td>
        <td><%= parcel.weight_of_parcel %></td>
        <td><%= parcel.customs_short_declaration %></td>
        <td><%= parcel.customs_long_description %></td>
        <td><%= parcel.parcel_height %></td>
        <td><%= parcel.parcel_length %></td>
        <td><%= parcel.parcel_width %></td>
        <td><%= parcel.parcel_number_in_order %></td>
        <td><%= parcel.internal_cost_of_parcel %></td>
        <td><%= parcel.shipping_carrier %></td>
        <td><%=l parcel.created_at, format: :long %></td>
        <td>
          <%= link_to parcel_path(parcel), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to parcel_path(parcel), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_parcel_path,
            :class => 'btn btn-primary' %>
