<%= simple_form_for(@addressbook) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :customer_id %>
    <%= f.input :visible_to_entire_company %>
    <%= f.input :created_by_user_id %>
    <%= f.input :address_book_name %>
    <%= f.input :address_book_description %>
    <%= f.input :archive_this_address_book %>
    <%= f.association :company %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
