<h1>Listing recipients</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Recipient name</th>
      <th>Recipient job title</th>
      <th>Recipient email address</th>
      <th>Recipient phone number</th>
      <th>Address</th>
      <th>Parcel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= recipient.address_id %></td>
        <td><%= recipient.recipient_name %></td>
        <td><%= recipient.recipient_job_title %></td>
        <td><%= recipient.recipient_email_address %></td>
        <td><%= recipient.recipient_phone_number %></td>
        <td><%= recipient.address %></td>
        <td><%= recipient.parcel %></td>
        <td><%= link_to 'Show', recipient %></td>
        <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
        <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipient', new_recipient_path %>
