<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice line item:</strong>
  <%= @order.invoice_line_item %>
</p>

<p>
  <strong>Delivery status:</strong>
  <%= @order.delivery_status %>
</p>

<p>
  <strong>Customer comments:</strong>
  <%= @order.customer_comments %>
</p>

<p>
  <strong>Customer uploaded file:</strong>
  <%= @order.customer_uploaded_file %>
</p>

<p>
  <strong>Send confirmation emails to recipients:</strong>
  <%= @order.send_confirmation_emails_to_recipients %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Total order weight:</strong>
  <%= @order.total_order_weight %>
</p>

<p>
  <strong>Wcsi total order cost:</strong>
  <%= @order.wcsi_total_order_cost %>
</p>

<p>
  <strong>Customer total order cost pre tax:</strong>
  <%= @order.customer_total_order_cost_pre_tax %>
</p>

<p>
  <strong>Any taxable shipments:</strong>
  <%= @order.any_taxable_shipments %>
</p>

<p>
  <strong>Total tax on order:</strong>
  <%= @order.total_tax_on_order %>
</p>

<p>
  <strong>Customer total order cost with tax:</strong>
  <%= @order.customer_total_order_cost_with_tax %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
