<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => Order %> - <%= @order.order_number %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:delivery_status) %></dt>
      <dd><pre class="prettyprint"><%= @order.delivery_status %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:customer_comments) %></dt>
      <dd><pre class="prettyprint"><%= @order.customer_comments %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:customer_uploaded_file) %></dt>
      <dd><pre class="prettyprint"><%= @order.customer_uploaded_file %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:send_confirmation_emails_to_recipients) %></dt>
      <dd><pre class="prettyprint"><%= @order.send_confirmation_emails_to_recipients %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:order_number) %></dt>
      <dd><pre class="prettyprint"><%= @order.order_number %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:total_order_weight) %></dt>
      <dd><pre class="prettyprint"><%= @order.total_order_weight %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:wcsi_total_order_cost) %></dt>
      <dd><pre class="prettyprint"><%= @order.wcsi_total_order_cost %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:customer_total_order_cost_pre_tax) %></dt>
      <dd><pre class="prettyprint"><%= @order.customer_total_order_cost_pre_tax %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:any_taxable_shipments) %></dt>
      <dd><pre class="prettyprint"><%= @order.any_taxable_shipments %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:total_tax_on_order) %></dt>
      <dd><pre class="prettyprint"><%= @order.total_tax_on_order %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:customer_total_order_cost_with_tax) %></dt>
      <dd><pre class="prettyprint"><%= @order.customer_total_order_cost_with_tax %></pre></dd>
  </dl>
</div>
<h2>Parcels for this order</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:customer_shipment_cost_pre_tax) %></th>
      <th><%= model_class.human_attribute_name(:taxable) %></th>
      <th><%= model_class.human_attribute_name(:tax_rate) %></th>
      <th><%= model_class.human_attribute_name(:tax) %></th>
      <th><%= model_class.human_attribute_name(:customer_shipment_cost_with_tax) %></th>
      <th><%= model_class.human_attribute_name(:parcel_items_and_quantity) %></th>
      <th><%= model_class.human_attribute_name(:weight_of_parcel) %></th>
      <th><%= model_class.human_attribute_name(:customs_short_declaration) %></th>
      <th><%= model_class.human_attribute_name(:customs_long_description) %></th>
      <th><%= model_class.human_attribute_name(:parcel_height) %></th>
      <th><%= model_class.human_attribute_name(:parcel_length) %></th>
      <th><%= model_class.human_attribute_name(:parcel_width) %></th>
      <th><%= model_class.human_attribute_name(:parcel_number_in_order) %></th>
      <th><%= model_class.human_attribute_name(:internal_cost_of_parcel) %></th>
      <th><%= model_class.human_attribute_name(:shipping_carrier) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.id %></td>
        <td><%= parcel.customer_shipment_cost_pre_tax %></td>
        <td><%= parcel.taxable %></td>
        <td><%= parcel.tax_rate %></td>
        <td><%= parcel.tax %></td>
        <td><%= parcel.customer_shipment_cost_with_tax %></td>
        <td><%= parcel.parcel_items_and_quantity %></td>
        <td><%= parcel.weight_of_parcel %></td>
        <td><%= parcel.customs_short_declaration %></td>
        <td><%= parcel.customs_long_description %></td>
        <td><%= parcel.parcel_height %></td>
        <td><%= parcel.parcel_length %></td>
        <td><%= parcel.parcel_width %></td>
        <td><%= parcel.parcel_number_in_order %></td>
        <td><%= parcel.internal_cost_of_parcel %></td>
        <td><%= parcel.shipping_carrier %></td>
        <td><%=l parcel.created_at, format: :long %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn btn-default'  %>
</div>