<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :wcsi_admin %>
    <%= f.input :company_name %>
    <%= f.input :user_admin_id %>
    <%= f.input :department %>
    <%= f.input :shipping_address_line_1 %>
    <%= f.input :shipping_address_line_2 %>
    <%= f.input :shipping_postcode_or_zip %>
    <%= f.input :shipping_city %>
    <%= f.input :shipping_state_or_region %>
    <%= f.input :shipping_country_id %>
    <%= f.input :billing_address_line_1 %>
    <%= f.input :billing_address_line_2 %>
    <%= f.input :billing_city %>
    <%= f.input :billing_state_or_region %>
    <%= f.input :billing_country_id %>
    <%= f.input :express_courier_rate_id %>
    <%= f.input :economy_courier_rate_id %>
    <%= f.input :postal_courier_rate_id %>
    <%= f.input :billing_email_address %>
    <%= f.input :main_telephone_number %>
    <%= f.association :user %>
    <%= f.association :invoice_line_item %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
