<%= flash[:notice] %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Weight</th>
      <th>Zone 1</th>
      <th>Zone 3</th>
      <th>Zone 4</th>
      <th>Zone 5</th>
      <th>Zone 6</th>
      <th>Zone 7</th>
      <th>Zone 8</th>
      <th>Zone 9</th>
      <th>Zone 10</th>
    </tr>
  </thead>
  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td><%= price.id %></td>
        <td><%= price.weight %></td>
        <td><%= price.zone1 %></td>
        <td><%= price.zone2 %></td>
        <td><%= price.zone3 %></td>
        <td><%= price.zone4 %></td>
        <td><%= price.zone5 %></td>
        <td><%= price.zone6 %></td>
        <td><%= price.zone7 %></td>
        <td><%= price.zone8 %></td>
        <td><%= price.zone9 %></td>
        <td><%= price.zone10 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>