<%= form_for @tracking, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :signed_for_by, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :signed_for_by, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tracking_code, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :tracking_code, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tracking_status, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :tracking_status, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tracking_status_description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :tracking_status_description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :required_to_arrive_before, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :required_to_arrive_before, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :will_arrive_in_time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :will_arrive_in_time, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  trackings_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
